<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Witaj w Car Service</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>h2 {text-align: center}</style>
    </head>
    <body style="background-color: darkgray">

        <!--Navbar        -->
        <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
                <div class="container-fluid">
                    <a class="navbar-brand">Witaj w Car Service</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Pojazdy do naprawy</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Dodaj nowy pojazd</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Napraw pojazd</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Pojazdy naprawione</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        <h2>Poniżej przedstawiamy opis poszczególnych funkcji.</h2>

        <div class="container d-flex justify-content-center">

            <!--Cards        -->
            <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pojazdy do naprawy</h5>
                        <p class="card-text">Tutaj umieszczone zostały wszystkie samochody, które przyjęto do serwisu i czekują na naprawę.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dodaj nowy pojazd</h5>
                        <p class="card-text">W tym miejscu możemy dodawać nowe uszkodzone samochody, po dodaniu zobaczymy je w sekcji <b>Pojazdy do naprawy.</b></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Napraw pojazd</h5>
                        <p class="card-text">W tym miejscu wyszukujemy pojazdu i zmieniamy jego status z uszkodzonego na naprawiony.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pojazdy naprawione</h5>
                        <p class="card-text">Tutaj znajdziemy wszystkie pojazdy, które dotychczas przeszły przez nasz serwis i zostały naprawione.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>